@charset "UTF-8";
/* Bitters 0.10.0
 * http://bitters.bourbon.io
 * Copyright 2013–2014 thoughtbot, inc.
 * MIT License */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,700|Titillium+Web:400,700);
@import url(http://weloveiconfonts.com/api/?family=entypo);
button,
input[type="submit"], .hero .hero-copy a {
  -webkit-font-smoothing: antialiased;
  background-color: #84BBD5;
  border-radius: 3px;
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }
  button:hover,
  input[type="submit"]:hover, .hero .hero-copy a:hover {
    background-color: #4b9bc2;
    color: white; }
  button:disabled,
  input[type="submit"]:disabled, .hero .hero-copy a:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

body {
  -webkit-font-smoothing: antialiased;
  background-color: white;
  color: #333;
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
.sign-up-form legend,
h4,
h5,
h6 {
  font-family: "Titillium Web", sans-serif;
  line-height: 1.25;
  margin: 0;
  text-rendering: optimizeLegibility; }

h1 {
  font-size: 2.25em; }

h2 {
  font-size: 2em; }

h3, .sign-up-form legend {
  font-size: 1.75em; }

h4 {
  font-size: 1.5em; }

h5 {
  font-size: 1.25em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  -webkit-transition: color 0.1s linear;
  -moz-transition: color 0.1s linear;
  transition: color 0.1s linear;
  color: #84BBD5;
  text-decoration: none; }
  a:hover {
    color: #4b9bc2; }
  a:active, a:focus {
    color: #4b9bc2;
    outline: none; }

hr {
  border-bottom: 1px solid #DDD;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

blockquote {
  border-left: 2px solid #DDD;
  color: #595959;
  margin: 1.5em 0;
  padding-left: 0.75em; }

cite {
  color: #737373;
  font-style: italic; }
  cite:before {
    content: "\2014 \00A0"; }

fieldset {
  background: #f7f7f7;
  border: 1px solid #DDD;
  margin: 0 0 0.75em 0;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1em; }

label {
  font-weight: bold;
  margin-bottom: 0.375em; }
  label.required:after {
    content: "*"; }
  label abbr {
    display: none; }

textarea,
input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border-color;
  -moz-transition: border-color;
  transition: border-color;
  background-color: white;
  border-radius: 3px;
  border: 1px solid #DDD;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  font-family: "Open Sans", sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em 0.5em;
  width: 100%; }
  textarea:hover,
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover {
    border-color: #c4c4c4; }
  textarea:focus,
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus {
    border-color: #84BBD5;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(113, 176, 207, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

table {
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: bold;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #DDD;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

button,
input[type="submit"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  border: none;
  cursor: pointer;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }

/* entypo */
[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif; }

/* Neat 1.7.0
 * http://neat.bourbon.io
 * Copyright 2012-2014 thoughtbot, inc.
 * MIT License */
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }

.navigation {
  top: 0;
  width: 100%;
  height: 5em;
  padding: 1em;
  background: -webkit-linear-gradient(#84BBD5, #7F99BE) top no-repeat;
  background: linear-gradient(#84BBD5, #7F99BE) top no-repeat; }
  @media screen and (min-width: 40em) {
    .navigation {
      position: fixed;
      background: rgba(132, 187, 213, 0.9);
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out; }
      .navigation:hover {
        background: #84BBD5; } }
  .navigation img {
    height: 1em;
    width: auto;
    margin-right: 0.25em; }
  .navigation .navigation-inner {
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .navigation .navigation-inner:after {
      content: "";
      display: table;
      clear: both; }
  .navigation .primary-navigation {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    text-align: center; }
    .navigation .primary-navigation:last-child {
      margin-right: 0; }
    .navigation .primary-navigation a {
      font-family: "Titillium Web", sans-serif;
      font-weight: 700;
      font-size: 2.5em;
      color: rgba(255, 255, 255, 0.8); }
    @media screen and (min-width: 40em) {
      .navigation .primary-navigation {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 48.93617%;
        text-align: left; }
        .navigation .primary-navigation:last-child {
          margin-right: 0; } }
  .navigation .secondary-navigation {
    display: none; }
    @media screen and (min-width: 40em) {
      .navigation .secondary-navigation {
        display: block;
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 48.93617%;
        text-align: right; }
        .navigation .secondary-navigation:last-child {
          margin-right: 0; }
        .navigation .secondary-navigation ul {
          margin: .8em; }
        .navigation .secondary-navigation li {
          display: inline-block;
          margin-right: 1em;
          padding-right: 1em;
          border-right: 2px solid rgba(255, 255, 255, 0.4); }
          .navigation .secondary-navigation li:last-of-type {
            border: none;
            margin-right: 0;
            padding-right: 0; }
        .navigation .secondary-navigation a {
          font-weight: 700;
          text-transform: uppercase;
          color: rgba(255, 255, 255, 0.8);
          letter-spacing: 2px; } }

.hero {
  min-height: 100%;
  min-width: 100%;
  background-color: #7F99BE; }
  @media screen and (min-width: 40em) {
    .hero {
      background: url("assets/background.png"), -webkit-linear-gradient(10deg, #7F99BE, #84BBD5), no-repeat #7F99BE scroll;
      background: url("assets/background.png"), linear-gradient(10deg, #7F99BE, #84BBD5), no-repeat #7F99BE scroll;
      background-size: cover; } }
  .hero .hero-inner {
    padding: 0 1em;
    max-width: 68em;
    margin-left: auto;
    margin-right: auto; }
    .hero .hero-inner:after {
      content: "";
      display: table;
      clear: both; }
  .hero .hero-copy {
    float: left;
    display: block;
    margin-right: 2.12766%;
    width: 100%;
    margin-top: 6.25em;
    color: rgba(255, 255, 255, 0.8);
    text-align: center; }
    .hero .hero-copy:last-child {
      margin-right: 0; }
    .hero .hero-copy h1 {
      font-size: 2.2em;
      font-weight: 700;
      line-height: 1;
      margin-bottom: 1em; }
    .hero .hero-copy p {
      font-weight: 700;
      font-size: 1em;
      margin-bottom: 1em; }
    .hero .hero-copy a {
      margin-bottom: 1em; }
    @media screen and (min-width: 40em) {
      .hero .hero-copy {
        float: left;
        display: block;
        margin-right: 2.12766%;
        width: 65.95745%;
        margin-left: 17.02128%;
        margin-top: 11.25em; }
        .hero .hero-copy:last-child {
          margin-right: 0; }
        .hero .hero-copy h1 {
          font-size: 4em; }
        .hero .hero-copy p {
          font-size: 1.2em; } }

.features ul {
  max-width: 68em;
  margin-left: auto;
  margin-right: auto;
  padding: 1em; }
  .features ul:after {
    content: "";
    display: table;
    clear: both; }
.features li {
  float: left;
  display: block;
  margin-right: 2.12766%;
  width: 100%;
  padding: 1.25em 0.625em; }
  .features li:last-child {
    margin-right: 0; }
  .features li span {
    display: block;
    margin: 0 auto;
    font-size: 4em;
    color: #82bad4;
    text-align: center; }
  .features li h3, .features li .sign-up-form legend, .sign-up-form .features li legend {
    text-align: center;
    color: #82bad4;
    text-transform: capitalize; }
  .features li hr {
    display: block;
    width: 50%;
    margin: 1em auto;
    height: 10px;
    border: none;
    background: #82bad4; }
  @media screen and (min-width: 40em) {
    .features li {
      float: left;
      display: block;
      margin-right: 2.12766%;
      width: 31.91489%;
      padding: 2.5em 0.625em; }
      .features li:last-child {
        margin-right: 0; }
      .features li h3, .features li .sign-up-form legend, .sign-up-form .features li legend {
        font-size: 2.4em; } }

.sign-up-form {
  height: 430px;
  padding: 1.25em 0;
  background: -webkit-linear-gradient(#84BBD5, #7F99BE) top no-repeat;
  background: linear-gradient(#84BBD5, #7F99BE) top no-repeat; }
  .sign-up-form .sign-up-form-inner {
    padding: 1.25em;
    width: 90%;
    margin: 0 auto;
    border-radius: 4px;
    background: white; }
    @media screen and (min-width: 40em) {
      .sign-up-form .sign-up-form-inner {
        width: 600px; } }
  @media screen and (min-width: 40em) {
    .sign-up-form {
      height: 500px;
      padding: 3.75em 0; } }
  .sign-up-form legend {
    font-weight: 700;
    color: #7F99BE;
    margin-bottom: 1em; }

html,
body {
  margin: 0;
  height: 100%;
  width: 100%; }

/*# sourceMappingURL=style.css.map */
